# http://editorconfig.org

root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab
indent_size = 4
expandtab = false

[*.{h, hxx, c, cpp, cc, cxx}]
indent_style = tab
indent_size = 4
expandtab = false

[{cmakelist.txt, CMakeLists.txt}]
indent_style = tab
indent_size = 4
